@model TravelPlanning.Form

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateOfDeparture" class="control-label"></label>
                <input asp-for="DateOfDeparture" class="form-control" />
                <span asp-validation-for="DateOfDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfArrival" class="control-label"></label>
                <input asp-for="DateOfArrival" class="form-control" />
                <span asp-validation-for="DateOfArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAdults" class="control-label"></label>
                <input asp-for="NumberOfAdults" class="form-control" />
                <span asp-validation-for="NumberOfAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildren" class="control-label"></label>
                <input asp-for="NumberOfChildren" class="form-control" />
                <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfStay" class="control-label"></label>
                <input asp-for="TypeOfStay" class="form-control" />
                <span asp-validation-for="TypeOfStay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transportation" class="control-label"></label>
                <input asp-for="Transportation" class="form-control" />
                <span asp-validation-for="Transportation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
